body{
    font-family: Arial, Helvetica, sans-serif;
}

.container,.navbar{
    border: 2px solid skyblue;
    padding: 1%;
}

.container{
    min-height: 800px;
    text-align: center;
    
}

.navbar{
    border: 2px solid black;
    text-align: end;
    margin-bottom: 1%;
}

.navbar > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 2%;
    /* border: 1px solid red; */
}

#signup{
    max-width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid red; */
}

input{
    padding: 2%;
    margin: 2%;
}

.submit{
    width: 100%;
    border-radius: 15px;
    padding: 2%;
    background-color: skyblue;
    color: darkblue;
}

#login{
    max-width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}